.section {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 120px;
}

.container {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.text {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 60px;
  text-align: center;
}

.label {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
}

.title {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  text-align: center;
  box-sizing: border-box;
  font-size: 36px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logo {
  filter: grayscale(1);
  opacity: 0.8;
  &:hover,
  &:active {
    filter: grayscale(0);
    opacity: 1;
    transition: all 0.5s;
  }
}
