.landingContentContainer {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.landingContentGrid {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  margin-top: 80px;
  margin-bottom: 120px;
}

.containerRight {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  display: grid;
  grid-auto-columns: 1fr;
  margin-bottom: 80px;
  -webkit-box-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin-right: 30px;
  margin-left: 30px;
}

.containerLeft {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  display: grid;
  grid-auto-columns: 1fr;
  margin-bottom: 80px;
  -webkit-box-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  grid-template-columns: 2fr 1fr;
  margin-right: 30px;
  margin-left: 30px;
}

.textLeft {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.imageRight {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media (max-width: 975px) {
  .containerRight,
  .containerLeft {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
