.Link {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  transition: opacity 200ms ease;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover,
  &:active {
    color: #32343a;
    transition: opacity 200ms ease;
    opacity: 0.9;
    cursor: pointer;
  }
}

.LinkContainer {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;

  &:hover,
  &:active {
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #32343a;
    opacity: 0.9;
    background-color: #f7f8f9;
  }
}

@media (max-width: 975px) {
  .Link {
    text-align: center;
  }

  .Link:hover {
    margin: 0;
    width: 100vw;
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    outline: 0;
  }
}
