.wrapper {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-size: cover;
  height: 620px;
  background-color: #000;
  color: #fff;
  background-position: center;
}

.content {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  max-width: 1140px;
  text-align: center;
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.75) 20%,
      rgba(0, 0, 0, 0.75) 80%,
      rgba(255, 255, 255, 0)
    );
  width: 100%;
}

.heading {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

/* @media (max-width: 400px) {
  .heading {
    font-size: 32px;
  }
}
*/
