.splashSection {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url("https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc00e3a4217f7862153ae2_portfolio%202%20-%20wide.svg");
  background-position: 0 0;
  background-size: cover;
  color: #fff;
}

.splashContentWrapper {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  width: 70%;
  max-width: 1140px;
  text-align: center;
  margin-bottom: 20px;
}

.splashContent {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 35px;
  width: 100%;
}

.splashTitle {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.splashParagraph {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  opacity: 0.6;
  margin: 0 15px;
}

/* @media (max-width: 975px) {
  .splashSection {
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    height: 620px;
    margin-bottom: 100px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #f4f4f4;
    background-image: url("https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc00e3a4217f7862153ae2_portfolio%202%20-%20wide.svg");
    background-position: 0 0;
    background-size: cover;
    color: #fff;
  }

  .splashContentWrapper {
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    box-sizing: border-box;
    max-width: 1140px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .splashContent {
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    width: auto;
  }

  .splashTitle {
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 36px;
    line-height: 48px;
  }

  .splashParagraph {
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat, sans-serif;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.6;
  }
}
*/
